
/* 
Задание: 2.Второй уровень
Создайте элемент, у которго:
ширина 350px
высота 220px
внутренний отступ: сверху 15px, слева 10px, внизу 20px, справа 10px
внешний нижний отступ 30px
"пунктирную" границу красного цвета толщиной 2px
зеленую "заливку" элемента
 */

 .element_1 {
    width: 350px;  /* ширина элемента */
    height: 220px; /* высота элемента */

    /* 
    4 значения: задаются отступы для всех сторон элемента в такой последовательности: сверху, справа, снизу, слева:
    padding: 2px 4px 5px 10px;
    3 значения: задается отступ сначала для верхней стороны, потом одновременно для левой и правой, а затем – для нижней:
    padding: 3px 6px 9px;
    2 значения: задаются отступы сначала одновременно от верхней и нижней стороны, а затем – одновременно для левой и правой:
    padding: 6px 12px;
    1 значение: задаются одинаковые отступы для всех сторон элемента:
    padding: 3px;
     */

    padding: 15px 10px 20px ;  /* в нашем случае можно задать 3 значения */
    margin: 0 0 30px 0;

    /* 
    solid — сплошная граница;
    dotted — граница из точек;
    dashed — пунктирная граница;
    double — двойная граница;
    groove — объемная граница-выемка;
    ridge — объемная граница с толстой кромкой (по сути, инверсия предыдущего стиля);
    outset — выдавленная граница;
    inset — вдавленная граница (по сути, инверсия предыдущего стиля).
    */

    border: 2px dotted #ff0000;


    background: #00FF00

    /* 
    или так 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px; 
    */

 }

 .blok_1{
    width: 50vw; 
 }

 .leftimg {
    float: left;
    padding: 10px;
    margin: 0 30px 0 0;
}


.rightimg {
  float: right;
  padding: 0.5vw;
  margin: 0.5vw;
  width:  10vw;  /* ширина элемента */
  height: 5vw; /* высота элемента */
}

 .text_1 {
  Text-align: justify;
}



